@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
body, html {
    background-color: #070707; 
}

/* Top Panel */
#top-panel-buttons {
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    font-family: "Do Hyeon", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#top-panel-buttons:hover {
    color: #9b16e8;
}

/* About */
#about {
    border: none;
    text-align: center;
    background-color: #070707;
    color:white;
    overflow: auto;
    font-size: 16px;
    font-family: "Do Hyeon", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Q&A */
#question{
    color: white;
    font-family: "Do Hyeon", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#answer{
    color: #4F5051;
    font-family: "Do Hyeon", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#contact {
    color: yellow;
    font-family: "Do Hyeon", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Others */
.name-typewriter {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}